body {
    background-color: blueviolet; /*Color Temporal*/
}

.tododentro {
    display: flex;
}

.logo {
    margin-top: 40px;
    margin-left: 40px
}

.cuadroinserto{
    margin-top: 80px;
    margin-left: 240px;
}

.container_input {
    background-color: #F3F5FC;
    border: none;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    padding: 5px 0px;
    width: 577px;
}
input::placeholder{
    color: #0A3871;
}

.advertencia{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #495057; 

}

.encriptar {
    border-radius: 24px;
    background: #0A3871;
    width: 328px;
    padding: 24px;
    border: 1px solid #0A3871;
    color: #FFFFFF;
    font-size: 16px;  
}

.desencriptar {
    border-radius: 24px;
    background: #D8DFE8;
    width: 328px;
    padding: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
}

.cuadrotraducido{
    background: #FFFFFF;
    border-radius: 32px;
    width: 400px;
    height: 944px;
    position: absolute;
    transform: translate(1000px, -48px);
}
